################################################################################
# Stage 1 - Build Python app
# Stage 2 - Terraform init + plan + (optional) apply
# Stage 3 - Deploy Python app to Azure AppService
################################################################################
trigger:
  - main

parameters:
  - name: runTerraformApply
    type: boolean
    default: false
    displayName: "Terraform apply"
  - name: runTerraformDestroy
    type: boolean
    default: false
    displayName: "Terraform destroy"
  - name: deployApp
    type: boolean
    default: false
    displayName: "Deploy app"

variables:
  pythonVersion: '3.11'
  artifactName: 'shopping-drop'
  terraform_working_dir: 'terraform'
  azureSubscription: 'azure-devops-serviceconnection'
  resourceGroup: 'shopdemo-rg'
  buildConfiguration: 'Release'

# BUILD AND CREATE ZIP ARTIFACT
stages:
- stage: Build
  displayName: Build Python app
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(pythonVersion)'
    - script: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt --target ./app/_packages || true
      displayName: Install dependencies
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: 'app'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/shopping-app.zip'
        replaceExistingArchive: true
    - publish: $(Build.ArtifactStagingDirectory)/shopping-app.zip
      artifact: $(artifactName)

# PRINT VALUES IN BASH
- stage: Print
  displayName: Print values in Bash
  jobs:
  - job: Terraform
    displayName: Print values in Bash
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          # Write your commands here
          echo 'Hello world'

# TERRAFORM
- stage: Terraform
  displayName: Terraform
  dependsOn: Build
  jobs:
  - job: Terraform
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self
    # 1/6 TF INSTALL
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    # 2/6 TF INIT
    - task: AzureCLI@2
      displayName: 'TF init'
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        scriptLocation: inlineScript
        inlineScript: |
          terraform init
    # 3/6 TF VALIDATE
    - task: AzureCLI@2
      displayName: 'TF validate'
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        scriptLocation: inlineScript
        inlineScript: |
          terraform validate
    # 4/6 TF PLAN (DRY-RUN)
    - task: AzureCLI@2
      displayName: 'TF plan'
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        scriptLocation: inlineScript
        inlineScript: |
          terraform plan -lock=false
    # 5/6 TF APPLY
    # Apply step is conditional
    - task: AzureCLI@2
      displayName: 'Terraform apply (conditional)'
      condition: eq('${{ parameters.runTerraformApply }}', 'true')
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        scriptLocation: inlineScript
        inlineScript: |
          terraform apply -lock=false -auto-approve
    # 6/6 TF DESTROY
    # Apply step is conditional
    - task: AzureCLI@2
      displayName: 'Terraform destroy (conditional)'
      condition: eq('${{ parameters.runTerraformDestroy }}', 'true')
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        scriptLocation: inlineScript
        inlineScript: |
          terraform destroy -lock=false -auto-approve

# DEPLOY
- stage: Deploy
  displayName: Deploy to Azure Web App
  dependsOn: Terraform
  condition: eq('${{ parameters.deployApp }}', 'true')
  jobs:
  - deployment: Deploy
    displayName: Deploy Web App
    environment: 'dev'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: $(artifactName)
          - task: AzureWebApp@1
            displayName: 'Deploy ZIP to Web App'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: 'webAppLinux'
              appName: 'shopdemo-app'           # must match the name created by terraform (or use output variable mapping)
              package: '$(Pipeline.Workspace)/$(artifactName)/shopping-app.zip'
